<head>
<style>
body {
    background-color: whitesmoke;
}
p {
    font-family: "Courier New", Times, monospace;
}
Try it Yourself »

h1 {
    color: darkblue;
    margin-left: 40px;
} 
</style>
</head>
