body {
    background-color: whitesmoke;
}
p {
    font-family: "Courier New", Times, monospace;
}
h1 {
    color: darkblue;
    margin-left: 40px;
} 
@media (max-width: 654px) {
    #bob {
        width:100%;
    }
}
@media (max-width: 523px) {
    #poke {
        width:100%;
    }
}
@media (max-width: 233px) {
    #boke {
        width:100%;
    }
}
@media (max-width: 311px) {
    #loke {
        width:100%;
    }
}
@media (max-width: 251px) {
    #boke {
        width:100%;
    }
}